- @images =  @profile.images.where(visible: 'true')
.row.showprofilecontent
  .col-12
    .row
      .col-11.offset-1.profilebiographymobile.mt-4.mb-4
        = raw @profile.biography
    .row#carruselimagenes
      .col-12
      -if @images.present?
        .col-1
          %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleControls", :role => "button"}
            =image_tag ('left.svg'),{"aria-hidden" => "true"}
            %span.sr-only Previous
        .col-10
          #carouselExampleControls.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              - @images.each_with_index do |image, index|
                - if index == 0
                  .carousel-item.active.picturescarousel.mb-3
                    %img.d-block.w-100{:alt => "Foto 1", :src => url_for(image.picture), class: 'mb-2 fotocarrusel'}/
                    = image.subtitle
                - else
                  .carousel-item.picturescarousel.mb-3#imageninactiva
                    %img.d-block.w-100{:alt => "Foto #{index+1}", :src => url_for(image.picture), class: 'mb-2 fotocarrusel'}
                    = image.subtitle
        .col-1
          %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleControls", :role => "button"}
            =image_tag ('right.svg'),{"aria-hidden" => "true"}
            %span.sr-only Next
      - else
        .carousel-item.active.picturescarousel.mb-3
          .d-block.w-100= image_tag ('imgesemptystate.svg')
          Este perfil no tiene fotos
    .row#carruseltestimoniales
.row.showprofilefooter.d-flex.fixed-bottom
  .col-12.textfootermobile.d-flex.align-items-center.justify-content-center
    = link_to profile_donate_path(profile_id: @profile.id), id: 'buttonfootertext' do
      .row
        Dar abrazos o cafés a
        -name = @profile.full_name.split[0]
        = name
