.row.mobileform.mt-5
  .col-10.offset-1.mobileformtitle.col-md-6.offset-md-3
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .card.mt-3.shadow.mb-5.border.border-info
        .card-title
          %h2.text-center.mt-2.font-happy Crear mi Perfil
          = render 'shared/alert' if (devise_error_messages!.present?)
          .row.form-group.justify-content-center
            .col-sm-5.col-form-label
              .font-roboto= f.label :email
              .text-right= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
              #msgemail

          .row.form-group.justify-content-center
            .col-sm-5.col-form-label
              .font-roboto= f.label :password
              .text-right= f.password_field :password, class: 'form-control', autocomplete: "new-password"
          .row.form-group.justify-content-center
            .col-sm-5.col-form-label
              .font-roboto= f.label :password_confirmation
              = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
          .row.form-group
            .col
              .actions
                .text-center.font-roboto= f.submit "Registrarse", class: 'createprofilebutton'
