.container.mt-2
  .row.showprofilecontent
    .col-12
      = link_to '< Atras', new_profile_bank_account_path(@profile), style: "text-decoration: none; color: #566073;"
      -name = @profile.full_name.split[0]
  .row.mt-2
    .col-12
      %span{class: 'font-question'}¿Cuantos cafés?
  .row.mt-2
    .col-12
      .card
        .row.select-qty
          .col-2.text-right.ml-3
            = image_tag ('coffee_donation.svg'), class: 'mt-2'
          .col-1.text-center
            X
          .col-8.mt-2
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multia}"}
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multib}"}
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multic}"}
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multid}"}
        .row
          .col-12
            %span{class: 'font-little-price ml-2'}="#{@profile.coffee_price} " + "#{@profile.currency}"
        .row
          .col-4
          .col-8
            %p{class: 'font-total-price'}Total: 1.120.000 Bs.
  .row.justify-content-center
    .col-12
      .card.mt-2
        -@accounts.each do |account|
          .card-title.mt-3.ml-3
            %span{class: 'font-donation-title-form'}Datos de
            %span{class: 'font-donation-title-form'}= name
          .card-body
            .row.form-group
              .col
                %span{class: 'font-show'} Entidad:
                %span{class: 'font-show-data'}= account.bankname
            .row.form-group
              .col
                %span{class: 'font-show mt-3'} Email:
                %span{class: 'font-show-data'}= account.owner_email
            .row.form-group
              .col
                %span{class: 'font-show'} N° de cuenta:
                %span{class: 'font-show-data'}= account.account_number
            .row.form-group
              .col
                %span{class: 'font-show'} RIF o cédula:
                %span{class: 'font-show-data'}= account.identification_number
            .row.form-group
              .col
                %span{class: 'font-show'} Tipo de cuenta:
                %span{class: 'font-show-data'}= account.kind
        %hr
        .row.form-group
          .col.offset-1
            %span{class: 'font-show'} Entidad:
            %span{class: 'font-show-data'} Paypal
        .row.form-group
          .col.offset-1
          - @paypals.each do |paypal|
            %span{class: 'font-show'}Email:
            %span{class: 'font-show-data'}= paypal.email
  .row.justify-content-center
    .col-12
      .card.mt-2
        .row.form-group.justify-content-center
          .col-11.form-label.mt-3
            %label{class: 'font-donation-title-form'} Tus Datos
        .row.form-group.justify-content-center
          .col-11.form-label
            %label{class: 'font-show-data'} Nombre
            %input{class: 'form-control'}
        .row.form-group.justify-content-center
          .col-11.form-label
            %label{class: 'font-show-data'} Ocupación
            %input{class: 'form-control'}
        .row.form-group.justify-content-center
          .col-11.form-label
            %label{class: 'font-show-data'} Mensaje de agradecimiento
            %textarea{class: 'form-control mb-5'}

  .row.showprofilefooter.d-flex.fixed-bottom
    .col-12.textfootermobile.d-flex.align-items-center.justify-content-center
      = link_to root_path, id: 'buttonfootertext' do
        .row
          ¡Listo! Notificar a
          = name
