.container.mt-2.showprofilecontent
  .row
    .col-12
      = link_to '< Atras', profile_donate_path(@profile), style: "text-decoration: none; color: #566073;"
      -name = @profile.full_name.split[0]
  .row.mt-2
    .col-12
      %span{class: 'font-question'}¿Cuantos cafés?
  #notice= render 'shared/alertsuccess' if (flash[:notice])
  .row.mt-2
    .col-12
      .card
        .row.select-qty
          .col-2.text-right.ml-3
            = image_tag ('coffee_donation.svg'), class: 'mt-2'
          .col-1.text-center
            X
          .col-8.mt-2
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multia}", id: 'r1'}
              %span{class: 'position-number mr-2'}="#{@profile.multia}"
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multib}", id: 'r2'}
              %span{class: 'position-number mr-2'}="#{@profile.multib}"
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multic}", id: 'r3'}
              %span{class: 'position-number mr-2'}="#{@profile.multic}"
            %input{type: 'radio', name: 'multiplier', class: 'radio', value:"#{@profile.multid}", id: 'r4'}
              %span{class: 'position-number-d mr-2'}="#{@profile.multid}"
        .row.mb-3
          .col-6
            %span{class: 'font-little-price ml-3', id:"#{@profile.coffee_price}"}="#{@profile.coffee_price} " + "#{@profile.currency}"
          .col-6
            %span{class: 'font-total-title'}Total:
            %span{class: 'font-total-price'}= "0 #{@profile.currency}"
            %span{class: 'font-total-price', id:" #{@profile.currency}"}
  .row.justify-content-center
    .col-12
      .card.mt-2
        .card-title.mt-2
          .row
            .col.ml-3
              %span{class: 'font-donation-title-form'}Datos de
              %span{class: 'font-donation-title-form'}= name
          .card-body
          -@accounts.each do |account|
            .row
              .col.ml-3
                %span{class: 'font-show'} Entidad:
                %span{class: 'font-show-data'}= account.bankname
            .row
              .col.ml-3
                %span{class: 'font-show mt-3'} Email:
                %span{class: 'font-show-data'}= account.owner_email
            .row
              .col.ml-3
                %span{class: 'font-show'} N° de cuenta:
                %span{class: 'font-show-data'}= account.account_number
            .row
              .col.ml-3
                %span{class: 'font-show'} RIF o cédula:
                %span{class: 'font-show-data'}= account.identification_number
            .row.form-group
              .col.ml-3
                %span{class: 'font-show'} Tipo de cuenta:
                %span{class: 'font-show-data'}= account.kind
            %hr
          .row
            .col.ml-3
              %span{class: 'font-show'}Entidad:
              %span{class: 'font-show-data'}Paypal
          .row.form-group
            .col.ml-3
              %span{class: 'font-show'}Email:
              - @paypals.each do |paypal|
                %span{class: 'font-show-data'}= paypal.email
  = form_with(model: [@profile, @donation], local: true ) do |form|
    - if @donation.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
        %h4= "#{pluralize(@donation.errors.count, "error")} al intentar enviar donación:"
        %ul
          - @donation.errors.full_messages.each do |message|
            %li= message
        %button.close{ 'data-dismiss': 'alert' }
          %span x
    .row.justify-content-center
      .col-12
        .card.mt-2
          .row.form-group.justify-content-center
            .col-11.form-label.mt-3
              %label{class: 'font-donation-title-form'}Tus Datos
              .row.form-group.justify-content-center
                .col-11.form-label
                  = form.label :full_name, 'Nombre', class: 'font-show-data'
                  = form.text_field :full_name, {class: 'form-control', required: 'true'}
              .row.form-group.justify-content-center
                .col-11.form-label
                  = form.label :role, 'Ocupación', class: 'font-show-data'
                  = form.text_field :role, {class: 'form-control', required: 'true'}
              .row.form-group.justify-content-center
                .col-11.form-label
                  = form.label :gretting_message, 'Mensaje de agradecimiento', class: 'font-show-data'
                  = form.text_area :gretting_message, {class: 'form-control mb-5', required: 'true'}
                  - @donation.kind = '0'
                  = form.hidden_field :kind
                  = form.hidden_field :qty_coffee, id:"cantidad"
    .row.showprofilefooter.d-flex.fixed-bottom
      .col-12.textfootermobile.d-flex.align-items-center.justify-content-center
        = form.submit "¡Listo! Notificar a #{name}", {id: 'button-submit'}
