.mt-2
  %p= link_to '< Configuración', new_profile_bank_account_path(@profile), style: "text-decoration: none; color: #566073;"
%h3.font-roboto-title Cuentas bancarias
%hr
#notice= render 'shared/alertsuccess' if (flash[:notice])
#error= render 'shared/alerterror' if (flash[:alert])
= form_with(model: [@profile, @account], local: true ) do |form|
  - if @account.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
      %h4= "#{pluralize(@account.errors.count, "error")} al intentar guardar la cuenta:"
      %ul
        - @account.errors.full_messages.each do |message|
          %li= message
      %button.close{ 'data-dismiss': 'alert' }
        %span x
  .row.mt-5.mb-5
    .col-4
      %h5.font-roboto-form Agregar cuenta bancaria
      %p.font-roboto-p Puedes agregar varias cuentas bancarias asociadas a tu perfil y permitir a tu amigos recibir donaciones de Abrazos y Cafés.
      -if @user.paypal_account.nil?
        .row.justify-content-center.mt-5
          .col-7
            .card
              .card-header
                %h3.font-roboto-bold.text-center Cuenta
                = image_tag ('paypal.png'), class: 'img-fluid card-img-top', height:'25px', width: '75px'
              .card-title.text-center
                =link_to 'Agregar', new_profile_paypal_account_path(@profile), class: 'btn botonpaypal mt-3'
      - else
        .row.justify-content-center.mt-5
          .col-7
            .card
              .card-header
                %h3.font-roboto-bold.text-center Cuenta
                = image_tag ('paypal.png'), class: 'img-fluid card-img-top'
              .card-body.text-center
                %p.font-roboto-form= @user.paypal_account.email
              .card-footer.text-center
                =link_to 'Editar', edit_profile_paypal_account_path(@profile,@user.paypal_account), class: 'btn botonpaypal'

    .col-8
      .card.rounded
        .card-body
          .row.form-group
            .col-12.form-label
              .font-roboto-form= form.label :bankname, 'Banco'
              = form.select :bankname, BankAccount.banknames.keys.map { |bankname| [bankname.titleize, bankname]}, {include_blank: true}, {class: 'form-control custom-select', required: 'true'}
          .row.form-group
            .col-12.form-label
              .font-roboto-form= form.label :account_number, 'Número de Cuenta'
              #msgaccount
              #accountnumber= form.text_field :account_number, class: 'form-control', type: 'text', maxlength: '24', pattern: '^(\d{4}-)+(\d{4}-)+(\d{4}-)+(\d{4}-)+(\d{4})$', title: 'Formato de cuenta Inválido', required: 'true'
              .font-roboto-light.text-right.mt-2= form.label 'Ejemplo: 0000-1111-2222-3333-4444'
          .row.form-group
            .col-12.form-label
              .font-roboto-form= form.label :owner_fullname, 'Titular de la cuenta'
              = form.text_field :owner_fullname, class: 'form-control', required: 'true'
          .row.form-group
            .col-12.form-label
              .font-roboto-form= form.label :identification_number, 'Cédula / RIF'
              #msgid
              #accountid= form.text_field :identification_number, class: 'form-control', maxlength: '11', pattern: '^([JVE]-)[0-9]{1,9}$', title: 'Formato de cédula Inválido', required: 'true'
              .font-roboto-light.text-right.mt-2= form.label 'Ejemplo: J-123456789 / V-12345678'
          .row.form-group
            .col-12.form-label
              .font-roboto-form= form.label :kind, 'Tipo de Cuenta'
              = form.select :kind, BankAccount.kinds.keys.map { |kind| [kind.titleize, kind]}, {include_blank: true}, {class: 'form-control custom-select', required: 'true'}
          .row.form-group
            .col-12.form-label
              .font-roboto-form= form.label :owner_email, 'Correo electrónico'
              #msgemailacc
              #emailacc= form.text_field :owner_email, class: 'form-control', pattern: "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$", title: 'Formato de correo electrónico inválido', required: 'true'
          .row.form-group.justify-content-center.mt-4
            .col-sm-12
              .actions
                .text-right= form.submit 'Guardar', class: 'savebutton font-roboto-button'
