.col.mt-3
  %h3.font-roboto-title Perfil de Usuario
  %hr
  #notice= render 'shared/alertsuccess' if (flash[:notice])
  #error= render 'shared/alerterror' if (flash[:alert])
  = form_with(model: @profile, local: true ) do |form|
    - if @profile.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
        %h4= "#{pluralize(@profile.errors.count, "error")} al intentar guardar el perfil:"
        %ul
          - @profile.errors.full_messages.each do |message|
            %li= message
        %button.close{ 'data-dismiss': 'alert' }
          %span x

    .row.mt-5.mb-5
      .col-8
        .card.rounded
          .card-body.mb-2
            .row.form-group
              .col-sm-6.col-form-label
                .font-roboto-form= form.label :full_name, 'Nombre y apellido'
                = form.text_field :full_name, class: 'form-control', required: 'true'
              .col-sm-6.col-form-label
                .font-roboto-form= form.label :role, 'Ocupación'
                = form.text_field :role, class: 'form-control', required: 'true'
            .row.form-group
              .col-sm-12.col-form-label
                .font-roboto-form= form.label :biography , 'Biografía:'
                = form.hidden_field :biography, class: 'form-control', id: 'wys', required: 'true'
                %trix-editor.trix-editor{input:'wys'}
            .row.form-group
              .col-sm-12.col-form-label
                .font-roboto-form= form.label :avatar, 'Foto de Perfil:'
                = form.file_field :avatar, class: 'dropify'
      .col-4
        .card.rounded
          .card-body
            .row.form-group
              .col-sm-12.col-form-label
                .font-roboto-form= form.label :coffee_price, 'Monto de un Café:'
                = form.number_field :coffee_price, class: 'form-control', min: 1, max: 1000000, step: 'any', required: 'true'
            .row.form-group
              .col-sm-12.col-form-label
                .font-roboto-form= form.label :currency, 'Símbolo de la moneda'
                = form.text_field :currency, class: 'form-control', required: 'true'
            .row.form-group
              .col-sm-12.col-form-label
                .font-roboto-form= form.label :multiplier, 'Multiplicadores'
              .col-sm-3
                .multiplier= form.number_field :multia, class: 'form-control', id: 'multiplicador', maxlength: 2, min: 1, max: 99, placeholder: 1, required: 'true'
              .col-sm-3
                .multiplier= form.number_field :multib, class: 'form-control', id: 'multiplicador', maxlength: 2, min: 1, max: 99, placeholder: 2, required: 'true'
              .col-sm-3
                .multiplier= form.number_field :multic, class: 'form-control', id: 'multiplicador', maxlength: 2, min: 1, max: 99, placeholder: 3, required: 'true'
              .col-sm-3
                .multiplier= form.number_field :multid, class: 'form-control', id: 'multiplicador', maxlength: 2, min: 1, max: 99, placeholder: 4, required: 'true'
              -if action_name == 'edit'
                .container
                  .row.justify-content-center.mt-5
                    .col-6
                      .card.rounded
                        .card-header
                          = image_tag (url_for(@profile.avatar)), class: 'img-fluid card-img-top'
                        .card-title.text-center
                          %h6.mt-3.font-happy-bold Mi Avatar
    %hr
    .row.form-group.justify-content-center.mt-4
      .col-sm-12
        .actions
          .text-right= form.submit 'Guardar', class: 'savebutton font-roboto-button'
