.showprofileheader
  .row
    .col-9.profileinfo
      .row.mt-1
        .col-4.d-flex.align-items-center
          .showprofileavatar
            = image_tag (@profile.avatar), class: 'avatarprofilemobile', id: 'avatarprofilemobile'
        .col-8.d-flex.flex-column.justify-content-center
          .row
            .showprofilefullname
              = @profile.full_name
          .row
            .showprofileoccupation
              = @profile.role
    .col-3.homebutton.d-flex.align-items-center
      = link_to "A&C", root_path, class: 'btn logobuttonmobile'
