.mobilehome.d-flex.align-items-center
  .col-6.align-items-center
    .logoside.d-flex.justify-content-start.justify-content-sm-center
      = link_to root_path, method: 'get', class: 'btn', id: 'botonlogo' do
        A&C
  .col-6.mt-3
    .swissside.d-flex.justify-content-end.justify-content-sm-center
      - if user.present?
        .dropdown
          %button#dropdownMenuButton.btn.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            .buttonheaderhome.dropdown-toggle
              = user.profile.full_name.split()[0]
          .dropdown-menu#dropdownheaderhome{"aria-labelledby" => "dropdownMenuButton"}
            .dropdown-item#dropdownheaderhomeitem
              =link_to "Editar perfil", edit_profile_path(user.profile.id), method: 'get', id: 'prueba2'
            .dropdown-divider
            .dropdown-item#dropdownheaderhomeitem
              =link_to "Cerrar sesión", destroy_user_session_path, method: 'delete', id: 'prueba2'
      -else
        - if(controller_name == 'sessions')
          .col-5.hello2
            = link_to new_user_registration_path, method: 'get', class: 'btn', id: 'swissbutton' do
              Registro
        - else
          .col-4.hello2
            = link_to user_session_path, method: 'get', class: 'btn', id: 'swissbutton' do
              Login
