.row.sectionnavbar.navbar.navbar-expand-lg
  .col-9.inputrectangle
    %form
      %input{:type => "text", :class => "navbarinput", :disabled => 'true'}
  .col-3.profile-session
    .row
    - if user.profile.present?
      .col-4
        = image_tag (user.profile.avatar), class: 'avatar'
    - else
      .col-4
        = image_tag ('default_avatar.png'), class: 'avatar'
    - if ((controller_name == 'profiles') || (controller_name == 'images') || (controller_name == 'bank_accounts') || (controller_name == 'paypal_accounts'))
      .col-8.profilefullname
        %nav.navbar.navbar-expand.navbar-light
          .collapse.navbar-collapse#navbarDropdownprofile
            %ul.navbar-nav
              %li.nav-item.dropdown
              -if(action_name == 'new' && (controller_name == 'profiles'))
                %a#navbarDropdownprofile.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = user.email
                .dropdown-menu#hola{"aria-labelledby" => "navbarDropdown"}
                  .dropdown-item#colorpink= link_to "Cerrar Sesión", destroy_user_session_path, method: 'delete', id: 'prueba2'
              -else
                %a#navbarDropdownprofile.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = user.profile.full_name
                .dropdown-menu#hola{"aria-labelledby" => "navbarDropdown"}
                  .dropdown-item#colorpink=link_to "Ir a su Perfil", profile_path(@profile.id), id: 'prueba2'
                  .dropdown-divider
                  .dropdown-item#colorpink= link_to "Cerrar Sesión", destroy_user_session_path, method: 'delete', id: 'prueba2'
