.col.mt-2
  %p= link_to '< Listado de imágenes', profile_images_path, style: "text-decoration: none; color: #566073;"
  %h3.font-roboto-title Agregar imagen
  %hr
  #notice= render 'shared/alertsuccess' if (flash[:notice])
  = form_with(model: [:profile, @image], local: true ) do |form|
    - if @image.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
        %h4= "#{pluralize(@image.errors.count, "error")} al intentar guardar la imagen:"
        %ul
          - @image.errors.full_messages.each do |message|
            %li= message
        %button.close{ 'data-dismiss': 'alert' }
          %span x
    .row.mt-5.mb-5
      .col-4
        %h5.font-roboto-form Imagen del carousel
        %p.font-roboto-p Agregar imagen que se mostrará en el carousel del perfil público.
        -if action_name == 'edit'
          .row.justify-content-center.mt-5
            .col-6
              .card.rounded
                .card-header
                  = image_tag (url_for(@image.picture)), class: 'img-fluid card-img-top'
                .card-title.text-center
                  %h5.mt-3.font-happy-bold Imagen Seleccionada
      .col-8
        .card.rounded
          .card-body
            .card-title
              Imagen principal
              .row.form-group
                .col-sm-12.col-form-label
                  .font-roboto-form= form.label :picture, 'Carousel:'
                  = form.file_field :picture, class: 'dropify'
    .row.mt-5.mb-5
      .col-4
        %h5.font-roboto-form Datos de la imagen
        %p.font-roboto-p parámetros de publicación y leyenda de la imagen a mostrarse en el carousel.
      .col-8
        .card.rounded
          .card-body
            .col-sm-12.col-form-label
              .font-roboto-form= form.label :subtitle, 'Subtítulo'
              = form.text_field :subtitle, class: 'form-control'
            .col-sm-12.col-form-label.visible-checkbox
              = form.check_box :visible
              .font-roboto-form.ml-2.mt-2= form.label :visible, 'Mostrar esta imagen en el perfil público'

    %hr
      .row.form-group.justify-content-center.mt-4
        .col-sm-12
          .actions
            .text-right= form.submit 'Guardar', class: 'savebutton font-roboto-button'
