.row.mt-5.mb-5
  .col-4
    %h5.font-roboto-form Cuenta Bancarias
    %p.font-roboto-p Listado de cuentas bancarias asociadas a tú perfil.
  .col-8
    .card.rounded
      .card-body
        .font-roboto-form.row
          .col-3
            Banco
          .col-5
            N° de Cuenta
          .col-4
            Tipo
        %hr
        -if @accounts
          - @accounts.each do |account|
            .row
              .col-3
                = account.bankname
              .col-5
                = account.account_number
              .col-2
                = account.kind
              .col-2
                .dropdown.dropleft
                  %button#dropdownMenuButton.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    = image_tag 'cardmenubutton.svg', class: 'cardmenubutton'
                  .dropdown-menu#hola{"aria-labelledby" => "dropdownMenuButton"}
                    .dropdown-item#colorpink
                      =link_to edit_profile_bank_account_path(@profile.id,account), class: 'cardmenubuttonpopupitem', id: 'editbutton' do
                        .row
                          .col-3
                            = image_tag 'pencil.svg'
                          .col-9
                            Editar
                    .dropdown-item#colorpink
                      =link_to profile_bank_account_path(@profile.id,account), method: :delete, data: { confirm: '¿Esta seguro de eliminar esta cuenta?'}, class: 'cardmenubuttonpopupitem', id: 'editbutton' do
                        .row
                          .col-3
                            = image_tag 'bin2.svg'
                          .col-9
                            Eliminar
