.mt-2
  %p= link_to '< Regresar', new_profile_bank_account_path(@profile), style: "text-decoration: none; color: #566073;"
%h3.font-roboto-title Cuenta Paypal
%hr
#notice= render 'shared/alertsuccess' if (flash[:notice])
= form_with(model: [@profile, @paypal], local: true ) do |form|
  - if @paypal.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
      %h4= "#{pluralize(@paypal.errors.count, "error")} al intentar guardar la cuenta:"
      %ul
        - @paypal.errors.full_messages.each do |message|
          %li= message
      %button.close{ 'data-dismiss': 'alert' }
        %span x
  .row.mt-5.mb-5
    .col-4
      %h5.font-roboto-form Agregar cuenta Paypal
      %p.font-roboto-p Puedes agregar una cuenta Paypal asociada a tu perfil y permitir a tu amigos recibir donaciones de Abrazos y Cafés.
    .col-8
      .card.rounded
        .card-body
          .row.form-group
            .col-12.form-label
              .font-roboto-form= form.label :email, 'Correo Electrónico de Paypal'
              #emailpaypal= form.text_field :email, class: 'form-control', pattern: "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$", title: 'Formato de correo electrónico'
              #msgemailpaypal.mt-2
          .row.form-group.justify-content-center.mt-4
            .col-sm-12
              .actions
                .text-right= form.submit 'Guardar', class: 'savebutton font-roboto-button'
