.row.sidebarheader
  .col-12.text-center.mt-2
    = link_to "A&C", root_path, class: 'logolink'
.row.sidebarmenu
  %ul.sidebarmenuul.col-12.mr-5
    - if controller_name == 'profiles' && action_name == 'new'
      %li.sidebarmenuli.col-12.mt-3
        .row
          .col-2.iconsidebaradmin
            = image_tag ('perfilpink.svg')
          .col-10.sidebarmenulipink
            Perfil
      %li.sidebarmenuli.col-12.mt-3
        .row
          .col-2.iconsidebaradmin
            = image_tag ('perfil.svg')
          .col-10
            Imágenes
      %li.sidebarmenuli.col-12.mt-3
        .row
          .col-2.iconsidebaradmin
            = image_tag ('cuentas.svg')
          .col-10
            Cuentas
    -else
      - if controller_name == 'profiles'
        %li.sidebarmenuli.col-12.mt-3
          .row
            .col-2.iconsidebaradmin
              = image_tag ('perfilpink.svg')
            .col-10.sidebarmenulipink
              Perfil
      - else
        %li.sidebarmenuli.col-12.mt-3
          = link_to edit_profile_path(id: params[:profile_id]), class: 'sidebarmenulink' do
            .row
              .col-2.iconsidebaradmin
                = image_tag ('perfil.svg')
              .col-10
                Perfil
      - if controller_name == 'images'
        %li.sidebarmenuli.col-12.mt-3
          .row
            .col-2.iconsidebaradmin
              = image_tag ('perfilpink.svg')
            .col-10.sidebarmenulipink.mt-1
              Imágenes
      - else
        %li.sidebarmenuli.col-12.mt-3
          = link_to profile_images_path(@profile), class: 'sidebarmenulink' do
            .row
              .col-2.iconsidebaradmin
                = image_tag ('perfil.svg')
              .col-10
                Imágenes
      - if controller_name == 'bank_accounts'
        %li.sidebarmenuli.col-12.mt-3
          .row
            .col-2.iconsidebaradmin
              = image_tag ('cuentaspink.svg')
            .col-10.sidebarmenulipink
              Cuentas
      - else
        %li.sidebarmenuli.col-12.mt-3
          = link_to new_profile_bank_account_path(@profile), class: 'sidebarmenulink' do
            .row
              .col-2.iconsidebaradmin
                = image_tag ('cuentas.svg')
              .col-10
                Cuentas
