.row.mobilehero
  .col-12.coffees.mt-2
    = image_tag "coffees.svg", :class => "coffeesimage"
  .col-10.offset-1.strongtext.mt-3.col-md-6.offset-md-3
    Un café es un abrazo atrapado en una taza
  .col-8.offset-2.mt-4.regulartext.col-md-6.offset-md-3
    Recibe aprecio y gratitud mediante donaciones online
  .col-10.offset-1.mobileheroformsection.mt-5.mb-5
    = link_to new_user_registration_path, method: 'get', class: 'btn', id: 'botoncreateprofile' do
      Crear mi perfil
.row.mt-4
  .col-12.showcase
    .col-12.showcasetitlesection.mb-3.mt-5.col-md-6.offset-md-3
      .showcasetitlesectiontext.mb-2
        Un perfil dedicado a recibir agradecimientos
    .col-12.showcasecontent.mb-3.col-md-6.offset-md-3
      Puedes crear una página en minutos sin conocimientos técnicos. Muestra tus datos y agradecimientos recibidos de otras personas.
    .col-12.showcasecellphones.mb-3
      = image_tag 'cellphones.svg', :class => "cellphones"
