.container2
  .row.showprofilecontent.d-flex.justify-content-center
    .col.mt-2.col-sm-6
      .row.backbutton
        %p= link_to '< Perfil', profile_path(id: @profile.id), id: 'linkbackmobile'
      .row.cardimage.d-flex.justify-content-center.mt-3
        = image_tag ('heartcoffeesgreetings.svg'), class: 'mt-3'
      .row.greetingsmessage.mb-5.d-flex.justify-content-center.mt-1
        Gracias!
  

.row.showprofilefooter2.d-flex.fixed-bottom
  .col-12.textfootermobile.d-flex.align-items-center.justify-content-center#buttonfootertext2
    Righttocopy abrazosycafe.com