-# Index recognize donation
.row.showprofilecontent
  .col-12.mt-2.col-sm-8.offset-sm-2
    .row
      .col.col-md-6
        %p= link_to '< Atrás', profile_path(id: @profile.id), id: 'linkbackmobile'
    .row.mb-2
      .col.showprofilefullname
        Formas de reconocer a
        -name = @profile.full_name.split[0]
        = name
    .row
      .col-5.offset-1.cardsection.coffeecard
        = link_to new_profile_coffee_donation_path(@profile), id: 'waystoreconigzecardlink' do
          .card.mobilecard
            = image_tag ('coffee.svg'), class: 'mt-3'
            .cardtext.mb-2.mt-1.waystoreconigzecardtext
              Café
      .col-5.cardsection.hugcard
        = link_to new_profile_hug_donation_path(@profile), id: 'waystoreconigzecardlink' do
          .card.mobilecard
            = image_tag ('heart.svg'), class: 'mt-3'
            .cardtext.mb-2.mt-3.waystoreconigzecardtext
              Abrazo
    .row
      .col-12
        .donationsemptystate.d-flex.justify-content-center.mt-3.mb-3
          = image_tag ('donationsempty_state.svg')
    .row.selectiontext
      .col-12.mb-5
        Selecciona alguna de las dos opciones para continuar
.row.showprofilefooter2.d-flex.fixed-bottom
  .col-12.textfootermobile.d-flex.align-items-center.justify-content-center#buttonfootertext2
    Righttocopy abrazosycafe.com


