.row.mobileform.mt-5
  .col-10.offset-1.mobileformtitle.col-md-6.offset-md-3
    .row
      .col
        = form_for(resource, as: resource_name, url: session_path(resource_name), name: 'formulario') do |f|
          .card.mt-3.shadow.mb-5.border.border-info
            .card-title
              %h2.text-center.mt-2.font-happy Iniciar Sesión
              = render 'shared/alertsession' if flash.alert
            .row.form-group.justify-content-center
              .col-sm-5.col-form-label
                .font-roboto= f.label :email, 'Email:'
                = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
                #msgemail
            .row.form-group.justify-content-center
              .col-sm-5.col-form-label
                .font-roboto= f.label :password, 'Password:'
                = f.password_field :password, class: 'form-control', autocomplete: "current-password"
            .row.form-group
              .col
                .actions
                  .text-center.font-roboto= f.submit "Iniciar sesión", class: 'createprofilebutton'
