.container.mt-2.showprofilecontent
  .row
    .col-12
      = link_to '< Atras', profile_donate_path(@profile), style: "text-decoration: none; color: #566073;"
      -name = @profile.full_name.split[0]
  .row.mt-2
    .col-12
      %span{class: 'font-question'}Enviando un abrazo de 14.5 seg
  #notice= render 'shared/alertsuccess' if (flash[:notice])
  = form_with(model: [@profile, @donation], local: true ) do |form|
    - if @donation.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
        %h4= "#{pluralize(@donation.errors.count, "error")} al intentar enviar donación:"
        %ul
          - @donation.errors.full_messages.each do |message|
            %li= message
        %button.close{ 'data-dismiss': 'alert' }
          %span x
    .row.justify-content-center
      .col-12
        .card.mt-2
          .row.form-group.justify-content-center
            .col-11.form-label.mt-3
              %label{class: 'font-donation-title-form'}Tus Datos
              .row.form-group.justify-content-center
                .col-11.form-label
                  = form.label :full_name, 'Nombre', class: 'font-show-data'
                  = form.text_field :full_name, {class: 'form-control', required: 'true'}
              .row.form-group.justify-content-center
                .col-11.form-label
                  = form.label :role, 'Ocupación', class: 'font-show-data'
                  = form.text_field :role, {class: 'form-control', required: 'true'}
              .row.form-group.justify-content-center
                .col-11.form-label
                  = form.label :gretting_message, 'Mensaje de agradecimiento', class: 'font-show-data'
                  = form.text_area :gretting_message, {class: 'form-control mb-5', required: 'true'}
                  - @donation.kind = '1'
                  = form.hidden_field :kind
                  = form.hidden_field :qty_hug, id:"cantidad"
    .row.showprofilefooter.d-flex.fixed-bottom
      .col-12.textfootermobile.d-flex.align-items-center.justify-content-center
        = form.submit "¡Listo! Notificar a #{name}", {id: 'button-submit'}
