.sidebar {
  background: #F4F6F8;
  border-right: 1px solid #DFE4E8;
}

.section {
  background: #F4F6F8;
}

.sidebarheader {
background: #EE4380;
height: 3.35rem;
text-align: center;
}

.logolink {
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.8rem;
  color: #FFFFFF;
}

.logolink:hover {
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-decoration: none;
}

.sidebarmenuli {
list-style: none;
}

.sidebarmenulink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 1rem;
  color: #212B35;
}

.sidebarmenulink:hover {
  text-decoration: none;
  font-weight: bold;
  color: #EE4380;
}

.sidebarmenulipink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 1rem;
  color: #EE4380;
}

.pruebax {
  color: red;
}

.sectionnavbar {

background: #EA5F91;
height: 3.35rem;
}

.navbarinput {
  background-color: #F67DA8;
  height: 2.2rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.profilefullname {
  font-family: Segoe UI;
  line-height: normal;
  font-size: 1.1rem;
  color: #FFFFFF;
}

.avatar {
  width: 45px;
  display: inline-block;
  height: 2.3rem;  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

}

.adminpage {
  width: 100%;
}


hr {
  color:#DFE4E8;
}

.linkbutton {
  color: white;
}

.linkbutton:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.dropdown {
  background-color: white;
}


#dropdownMenuButton {
  background-color: white;
}

.adminpage{
  width: 100%;
  height: 100%;
}

.profile-session{
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #EE4380;
  border-bottom: none;
  height: 3.35rem;
}

.iconsidebaradmin {
  height: 1.5rem;
}

.emptystateimagetext {
font-family: Happy Monkey;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.1rem;
color: #EE4380;
}

.imagesemptystate {
  text-align: center;
}
