/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */

 @import "bootstrap";
 @import "dropify";

 body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  width: 100%;
  height: 100%;
  position: absolute;
 }

.font-happy-alert{
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.font-happy-bold{
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-weight: bold
}

.font-roboto-bold{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-weight: bold;
  font-style: italic;
}
