// Place all the styles related to the bank_accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-roboto-light{
  font-family: Roboto;
  font-style: Medium;
  font-weight: normal;
  line-height: 14px;
  font-size: 1rem;
  letter-spacing: -2%;
  color: #566073;
}
