// Place all the styles related to the CoffeeDonations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-qty{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.font-question{
  font-Family: Roboto;
  font-Size: 16px;
  line-Height: 19px;
  text-align: left;
  font-weight: bold;
  color: #363636;
}

.font-little-price{
  font-Family: Roboto;
  font-Size: 10px;
  line-Height: 12px;
  text-align: left;
  color: #8F8F8F;
}

.font-total-price{
  font-Family: Roboto;
  font-style: Medium;
  font-Size: 12px;
  line-Height: 14px;
  text-align: center;
  font-weight: bold;
  color: #363636;
}

.font-donation-title-form{
  font-Family: Roboto;
  font-style: Medium;
  font-Size: 16px;
  line-Height: 19px;
  text-align: left;
  letter-spacing: 3%;
  font-weight: bold;
}

.font-show{
  font-Family: Roboto;
  font-style: normal;
  font-Size: 14px;
  line-Height: 16px;
  text-align: left;
  letter-spacing: 2%;
  font-weight: bold;
  color:#454F5B;
}

.font-show-data{
  font-Family: Roboto;
  font-style: normal;
  font-Size: 14px;
  line-Height: 16px;
  text-align: left;
  letter-spacing: 2%;
  color:#454F5B;
}

.radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:1px solid #EE4380;
  background:#fff;
  width:40px;
  height:40px;
  border-radius:50%;
}
.radio:checked{
  border:20px solid #EE4380;
}

#button-submit{
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}