.cardback{
  background-color: #E5E5E5;
}

.font-happy{
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.5625rem;
}

.font-happy-alert{
    font-family: Happy Monkey;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.font-roboto{
  font-family: Roboto;
  font-style: Regular;
  font-weight: normal;
  line-height: normal;
  font-size: 1.125rem;
  text-align: center;
}

.homeheader {
  border: none;
  position: fixed;
  z-index: 4;
  width: 350px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0 5px 2px -2px #E5E5E5;
}

.headerleftdiv {
  width: 40px;
  height: 30px;
  margin-left: 19px;
  margin-top: 11px;

}

.headerrightdiv {
  width: 58px;
  margin-left: 265px;
  margin-top: -25px;
}

.createprofilebutton {
  background: #EE4380;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  color: #FFFFFF;
  border: none;
}

.createprofilebutton:hover {
font-weight: bold;
}

.device {
  height: 590px;
  width: 350px;
}

.multiplier{
  width: 50px;
}
