// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobilehome {
  background-color: #E5E5E5;
  width: 100%;
  height: auto;
  position: relative;
  background: #FFFFFF;
  border-bottom: solid 2px rgba(0, 0, 0, 0.15);
  height: 4rem;
}

#dropdownheaderhome {
  background-color: #EE4380;
  min-width: 140px;
  max-width: 140px;
  top: 5px !important;
  left: -20px !important;
}

#dropdownheaderhomeitem:active {
  background-color: #EE4380;
}

#dropdownheaderhomeitem:hover {
  background-color: #EE4380;
}

#botonlogo {
    font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  background-color: #EE4380;
  border: none;
  color: white;
  font-size: 1.4rem;
}

#botonlogo:hover {
  font-weight: bold;
  }

#swissbutton {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  border-bottom: 4px solid #EF6898;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 1.3rem;
  color: black;
}

#botoncreateprofile {
  font-family: Roboto;
font-style: Regular;
font-weight: normal;
line-height: normal;
background-color: #EE4380;
border: none;
color: white;
font-size: 1.5rem;
}

#botoncreateprofile:hover {
  font-weight: bold;
  }


.mobile {
  background: #F9FBFD;
  position: relative;
}


.logobutton {
  color: white;
  border-bottom: 5px solid #EF6898;
  background-color: #EE4380;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10.2317167051578137vw;
}


.mobilehero {
  position: relative;
  background-color: white;
}

.coffees {
  text-align: center;
}

.strongtext {
  text-align: center;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.4rem;
  text-align: center;
  color: #363636;
}

.regulartext {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: #8F8F8F;
  font-size: 1.05rem;
}

.showcase {
  background: #EE4380;
}


.showcasetitlesectiontext {
  color: white;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.5rem;
  border-bottom: 5px solid #FFFFFF;
}

.showcasecontent {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.25rem;
  color: #FFFFFF;
}

.showcasecellphones {
  text-align: center;
}

.buttonheaderhome {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: black;
  font-size: 1.2rem;
}

.mobileheroformsection {
  text-align: center;
}

#navbarDropdown {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}


#prueba3 {
  color:#EE4380;
}

#prueba3:hover {
  color:black;
}

#prueba2:hover {
  font-weight: bold;
  text-decoration: none;
}

#prueba2 {
  color: white;
}

#prueba2:active {
  background-color: #EE4380;
  color: white;
}


@media only screen and (min-width: 576px) {


  .showcasetitlesectiontext {
    border-bottom: 5px solid #FFFFFF;
    font-size: 3rem;
  }

  .showcasecontent {
    font-size: 2.5rem;
  }

  .cellphones {
    width: 50%;
  }

  .regulartext {
    font-size: 2.5rem;
  }

  .strongtext {
    font-size: 3rem;
    text-align: center;
    color: #363636;
  }

  .coffeesimage {
    width: 20%;
  }


  #botoncreateprofile {
    font-size: 2rem;
  }

  .hello {
    text-align: right;
  }
  .hello2 {
    text-align: left;
  }


#botonlogo {
  font-family: Happy Monkey;
font-style: normal;
font-weight: normal;
line-height: normal;
background-color: #EE4380;
border: none;
color: white;
font-size: 2rem;
}

#botonlogo:hover {
font-weight: bold;
}

}
