// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cardimagesheader {
  background-color: white;
  padding-bottom: 0%;
}
.cardheadertext {
  font-family: Roboto;
  font-style: Light;
  border-bottom: 4px solid #EE4380;
  width: 9%;
  height: 100%;
  padding-bottom: 1%;
}

.sectionadminformbutton {
  color: white;
  background-color: #EE4380;
  border: none;
  width: 55%;
}

.cardbodyimage {
  height: 100%;
  width: 100%;
}

.cardbodytext {
  height: 100%;
  width: 100%;
}

.cardbodyoptionsmenu {
  height: 100%;
  width: 100%;
  text-align: center;
}

.pruebal {
  width: 100%;
  height: 100%;
}

.cardmenubutton {
  width: 100%;
}

.cardmenubuttonpopupitem {
  color: #000000;
  font-family: Roboto;
  font-style: Light;
}

.cardmenubuttonpopupitem:hover {
  color: #000000;
  font-family: Roboto;
  font-style: Light;
}

.font-roboto-form{
  font-family: Roboto;
  font-style: Medium;
  font-weight: normal;
  line-height: 19px;
  font-size: 16px;
  letter-spacing: 3%;
  font-weight: bold;
}

.font-roboto-p{
  font-family: Roboto;
  font-style: Medium;
  font-weight: normal;
  line-height: 19px;
  font-size: 14px;
  letter-spacing: 2%;
  color: #566073;
}


.font-happy-alert{
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.font-roboto-button{
  font-family: Roboto;
  font-style: Medium;
  font-weight: normal;
  line-height: 14px;
  font-size: 16px;
  letter-spacing: -2%;
  text-align: center;
  font-weight: bold;
}

.font-roboto-backimage{
  font-family: Roboto;
  font-style: Regular;
  line-height: 19px;
  font-size: 16px;
  letter-spacing: -2%;
  text-decoration: none;
}

.visible-checkbox{
  display: flex;
  align-items: center;
}

#editbutton {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#editbutton:hover {
  font-weight: bold;
  text-decoration: none;
}


#hola {
  background-color: #EE4380;
  border: solid 2px purple;
  min-width: 150px;
  max-width: 150px;
}

#colorpink:active {
  background-color: #EE4380;
}

#colorpink:hover {
  background-color: #EE4380;
}
