// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showprofileheader {
  background-color: white;
  border-bottom: solid 2px rgba(0, 0, 0, 0.15);
  height: 4rem;
}

.avatarprofilemobile {
  height: 3.4rem;
  width: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #EE4380;
}

.showprofilefullname {
  font-family: Roboto;
  font-weight: bold;
  font-size: 0.98rem;
  line-height: 19px;
  text-align: left;
  letter-spacing: -0.02em;
}

.showprofileoccupation {
  text-align: left;
  font-weight: lighter;
  font-family: Roboto;
  font-size: 0.98rem;
  line-height: 19px;
  color: #8F8F8F;
  letter-spacing: -0.02em;
}

.homebutton {
  text-align: center;
}

.logobuttonmobile {
  background-color: #EE4380;
  color: white;
  font-family: Happy Monkey;
  font-weight: normal;
  text-decoration: none;
}

.logobuttonmobile:hover {
  background-color: #EE4380;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.showprofilecontent {
  background-color: #F9FBFD;
}


.profilebiographymobile {
  font-family: Roboto;
  font-size: 0.98rem;
  color: #363636;
  text-align: left;
}

.showprofilefooter {
  background-color: #EE4380;
  height: 3rem;
}

#buttonfootertext {
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  text-decoration: none;
}

#buttonfootertext:hover {
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.textfootermobile {
  text-align: center;
}

.picturescarousel {
  text-align: center;
  font-family: Roboto;
  font-size: 0.8rem;
  color: #8F8F8F;
  font-style: italic;
}

.fotocarrusel {
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
}

.cardsection {
  text-align: center;
}


.mobilecard {
  height: 8rem;
  box-shadow: 3px 3px 5px 3px #E5E5E5;
}

.mobilecard:hover {
  background-color: #EE4380;
}
.carousel-control-prev {
  margin-left: 20px;
}

.carousel-control-next {
  margin-right: 20px;
}
