// Place all the styles related to the PaypalAccounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.botonpaypal {
  background-color: #EE4380;
  color: white;
  font-family: roboto;
  font-weight: normal;
  text-decoration: none;
}

.botonpaypal:hover {
  background-color: #EE4380;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
