// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-roboto-title{
  font-family: Roboto;
  font-style: Medium;
  font-weight: normal;
  line-height: 1.81rem;
  font-size: 29px;
  letter-spacing: -2%;
  margin-top: 42px;
  font-weight: bold;
}

.font-roboto-form{
  font-family: Roboto;
  font-style: Medium;
  font-weight: normal;
  line-height: 14px;
  font-size: 1rem;
  letter-spacing: -2%;
  font-weight: bold;
}

.font-happy-alert{
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.font-roboto-button{
  font-family: Roboto;
  font-style: Medium;
  font-weight: normal;
  line-height: 14px;
  font-size: 1rem;
  letter-spacing: -2%;
  text-align: center;
  font-weight: bold;
}

.savebutton {
  background: #EE4380;
  border-radius: 5px;
  width: 100px;
  height: 36px;
  color: #FFFFFF;
  border: none;
}

.savebutton:hover {
  text-decoration: none;
  font-weight: bold;
}

.sidebarmenulinkactive {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 1.1145272867025364vw;
  letter-spacing: -0.01em;
  color: #EE4380;
}



#navbarDropdownprofile {
  color: white;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

#multiplicador {
  border: 2px solid #EE4380;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  color: black;
  width: 120%;
  height: 3.5rem;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#carousel-control-next-icon {
  border: solid 2px red;
}
