.row
  .col-4.mt-3
    .font-roboto-title Carousel de Imágenes
  .col-3.offset-5.mt-5.text-right
    .btn.btn-lg.sectionadminformbutton
      = link_to "Agregar", new_profile_image_path(@profile.id), class: 'linkbutton'
%hr
#notice= render 'shared/alertsuccess' if (flash[:notice])
.row.mt-4
  .col
    .card.cardimages.mb-5.mt-2
      .card-header#cardimagesheader
        .containercardheadertext
          .cardheadertext
            Imágenes
      .card-body
        -if @images.blank?
          %hr
          .row
            .col-4.offset-4.mt-4.imagesemptystate
              .row.emptystateimage
                .col-12
                  = image_tag ('imgesemptystate.svg')
              .emptystateimagetext.mb-3
                Aún no tienes imágenes para mostrar en tu perfil.
        -else
          .row.mt-2
            .col-2.offset-1.text-center
              Imagen
            .col-7.text-center
              Subtítulo
            .col-2.text-center
              Opciones
          %hr
          - @images.each do |image|
            .row.mb-5.mt-5
              .col-2.offset-1.cardbodyimage
                = image_tag (url_for(image.picture)), class: 'pruebal'
              .col-7.cardbodytext
                = image.subtitle
              .col-2.cardbodyoptionsmenu
                .dropdown.dropleft
                  %button#dropdownMenuButton.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    = image_tag 'cardmenubutton.svg', class: 'cardmenubutton'
                  .dropdown-menu#hola{"aria-labelledby" => "dropdownMenuButton"}
                    .dropdown-item#colorpink
                      =link_to edit_profile_image_path(@profile.id,image), class: 'cardmenubuttonpopupitem', id: 'editbutton' do
                        .row
                          .col-3
                            = image_tag 'pencil.svg'
                          .col-9
                            Editar
                    .dropdown-item#colorpink
                      =link_to profile_image_path(@profile.id,image), method: :delete, data: { confirm: '¿Esta seguro de eliminar esta imagen?'}, class: 'cardmenubuttonpopupitem', id: 'editbutton' do
                        .row
                          .col-3
                            = image_tag 'bin2.svg'
                          .col-9
                            Eliminar
            %hr
    .row
      .col.mb-5
        %hr
